<div class="col right inline divider">
  <%= "Welcome, #{session[:username].titleize} Force."  %>
  <%= form_tag("/sessions", method: "delete") do %>
    <%= submit_tag "logout" %>
  <% end %>
</div>
