<% @post.comments.each do |comment| %>
  <h4 class="muted"> 
    By <%= comment.name %>
  </h4>
  <p>
  <%= comment.body %>
  </p>
  <p class="footer muted">
    <%= format_time(comment.created_at) %>
  </p>
<% end %>
<% if flash[:error] %>
    <% flash[:error].each do |error| %>
    <p class="error">
      <%= error %>
    </p>
  <% end %>
<% end %>

