<!DOCTYPE html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h1>Incoming message from Galactic Electronic Operaional Robot Defender 1</h1>
  <p>Someone has sent us an email from Nebulaforcego.com</p>
</body>
</html>