<% @title = "Videos" %>
<h1 class="center neb">Videos</h1>
<%= @parse %>
  <div class="center">
  <div class="demo col">
      <ul class="gal" id="lightSlider">
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
          </li>
          <li class='thumb' data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
              <img class="galimg" src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
          </li>
      </ul>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#lightSlider').lightSlider({
          gallery: true,
          item: 4,
          loop: true,
          slideMargin: 1,
          thumbItem: 10,
          pager: true,
          controls: true,
          slidemove: 1,
          auto: true
      });
    })
  </script>

  </div>
<% if session[:id] != nil %>
  <%= form_for Video.new do |f| %>
    <% if Video.first == nil %>
      <%= f.submit "Create" %>
    <% else %>
      <%= f.submit "Refresh" %>
    <% end %>
  <% end %>
<% end %>
