<% @title = "Videos" %>
<h1 class="center neb">Videos</h1>
<%= @parse %>
  <div class="center">
  <iframe id='channel' width="560" height="315" src="https://www.youtube.com/embed/_BHSGgxz4ek?list=PLWUsmk9lG38A4u9D2bYNNbD1o4hwd3nB7" frameborder="0" allowfullscreen></iframe>
<% if session[:id] != nil %>
  <%= form_for Video.new do |f| %>
    <% if Video.first == nil %>
      <%= f.submit "Seed Videos" %>
    <% else %>
      <%= f.submit "Refresh Videos" %>
    <% end %>
  <% end %>
<% end %>

