<h1 class="center neb">Videos</h1>
<% @videos.each do |video| %>
  <div class="center">
    <iframe class="video"src ="<%= "#{video.link}" %>"></iframe>
  </div>
<% end %>
<% if session[:id] != nil %>
  <%= form_for Video.new do |f| %>
    <% if Video.first == nil %>
      <%= f.submit "Create" %>
    <% end %>
  <% end %>
<% end %>