<h1 class="center neb">Videos</h1>
<% if session[:id] != nil %>
  <%= form_for Video.new do |f| %>
    <% if Video.first == nil %>
      <%= f.submit "Create" %>
    <% else %>
      <%= f.submit "Refresh" %>
    <% end %>
  <% end %>
<% end %>