<div>
  <h2><%= @parse["summary"] %></h2>
  <% @parse["items"].each do |item| %>
  <p><%= item["summary"] %></p>
  <p><%= item["location"] %></p>
  <% time = DateTime.iso8601(item["start"]["dateTime"]) %>
  <p><%= format(time) %> </p>
  <% end %>
</div>