<% @posts.each do |post| %>
  <div class="col left">
    <h1 class="headline">
      <%= post.title %>
    </h1>
    <h4 >
      by: <%= post.author %>
    </h4>
    <p class="article">
      <%= post.body %>
    </p>
    <p class="footer divider">
      <%= post.created_at %>
    </p>
  </div>
<% end %>