@font-face {
  font-family: 'Neb';
  font-style: normal;
  font-weight: 400;
  src: url(font_path('hirukoextralight-webfont.ttf'));
}
$ruby: #ff0000;
$sapphire: #2837F0;
$emerald: #3bff00;
$amber: #ff8c00;
$amethyst: #c85ffc;
$gold: #fff200;
body {
  background-color: black;
  color: white;
  font-family: 'Verdana'
}
p {
  font-family: Verdana;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  -webkit-transition: text-shadow, .5s;
}

a:hover{
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
  -webkit-transition: text-shadow, .5s;
}

.stars {
  height: 9.5em;
  background-image: url(image_path('starryHeader.png'));
  background-size: 45%;
  border-bottom: 1px solid white;
  overflow: hidden;
}
.divider{
  border-bottom: 1px dashed white;
}
.article{
  font-size: 1.2em;
}
.error{
  color: red;
}
.notice{
  color: yellow;
}

.nav {
  min-width: 480px;
  margin-bottom: 1em;
  li {
    display: inline;
    margin: .25em;
    border-bottom: 1px solid white;
    -webkit-transition: border-bottom .1s;
    a{
      padding: 2px 7px 2px 7px;
    }
  }
}
.logo {
  width: 9em;
  margin-top: .1em;
}
.fancy {
  color: #d6cfcf;
  font-family: 'Neb';
}

.nebTop{
  top: -1.3em;
  position: relative;
  font-family: "Neb";
  font-size: 5em;
}
.neb{
  font-family: "Neb";
}
.headline{
  font-size: 2em;
}
.events{
  list-style-type: none;
}
.glow{
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}
.footer{
  font-size: 10px;
}
.inline{
  display: inline;
}
.center{
  text-align: center;
}
form {
  input, textarea, .byline{
    display: block;
    text-align: left;
  }
}
.video{
  width: 40%;
  height: 20em;
}
.blog:hover {
  -webkit-transition: border-bottom .5s;
  border-bottom: 2px solid $sapphire;
}
.pics:hover {
  -webkit-transition: border-bottom .5s;
  border-bottom: 2px solid $amethyst;
}
.music:hover {
  -webkit-transition: border-bottom .5s;
  border-bottom: 2px solid $ruby;
}
.videos:hover {
  -webkit-transition: border-bottom .5s;
  border-bottom: 2px solid $amber;
}
.shows:hover {
  -webkit-transition: border-bottom .5s;
  border-bottom: 2px solid $gold;
}
.contact:hover {
  -webkit-transition: border-bottom .5s;
  border-bottom: 2px solid $emerald;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.admin {
  background-color: rgb(55, 55, 72);
}
.muted {
  color: gray;
}


/*css for the lasers*/



@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(-80em );
  }

  100% {
     -webkit-transform: translateX(115em);
  }
}

@media (min-width: 375px) and (orientation: portrait){
  .nebTop{
    font-size: 2.8em;
    z-index: 1;
  }
  .nav{
    // font-size: 1em;
  }
}
/*responsive hack. HELP ME FIX THIS*/

.span_2 {
   border: 1px solid black;
}
