@font-face {
  font-family: 'Neb';
  font-style: normal;
  font-weight: 400;
  src: url(font_path('hirukoextralight-webfont.ttf'));
}
@font-face {
  font-family: 'Headline';
  font-style: normal;
  font-weight: 400;
  src: url(font_path('hirukoregular-webfont.ttf'));
}
$ruby: #ff2f2f;
$sapphire: #008aff;
$emerald: #3bff00;
$amber: #ff8c00;
$amethyst: #e400ff;
$gold: #ffea00;
$muted: #666666;

body {
  background-color: black;
  color: #cccccc;
}
input{
  color: black;
}
p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
  // font-weight: bold;
  -webkit-transition: text-shadow, .5s;
}

a:hover{
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
  -webkit-transition: text-shadow, .5s;
}
.success{
  color: $emerald;
}
.stars {
  height: 9.5em;
  background-image: url(image_path('starryHeader.png'));
  background-size: 45%;
  border-bottom: 1px solid white;
  overflow: hidden;
}
.divider{
  border-bottom: 1px solid #444444;
}
.article{
  font-size: 1.2em;
}
.comments{
  margin-left: 10%;
}
.error{
  color: red;
}
.notice{
  color: yellow;
}
.nav{
  font-family: 'Headline', 'Arial', sans-serif;
}
.navItem {
  list-style-type: none;
  display: inline;
}
.news {
  color: #999999;
  border-bottom: 1px solid $muted;
}
.news:hover{
  color: white;
  -webkit-transition: color .5s, border-color .5s;
  border-color: $amethyst;
}
.media{
  color: #999999;
  border-bottom: 1px solid $muted;
}
.media:hover {
  color: white;
  border-color: $ruby;
  -webkit-transition: color .5s, border-color .5s;
}
.calendar{
  color: #999999;
  border-bottom: 1px solid $muted;
}
.calendar:hover {
 color: white;
 border-color: $gold;
 -webkit-transition: color .5s, border-color .5s;
}
.contact{
  color: #999999;
  border-bottom: 1px solid $muted;
}
.contact:hover {
  color: white;
  border-color: $sapphire;
  text-shadow: $sapphire;
  -webkit-transition: color .5s, border-color .5s;
}
// .navItem:hover {
//   color: white;
// }
// .nav {
//   min-width: 480px;
//   margin-bottom: 1em;
//   li {
//     display: inline;
//     margin: .25em;
//     border: 1px solid $muted;
//     -webkit-transition: border .1s;
//     a{
//       padding: 4px 7px 4px 7px;
//     }
//   }
// }
.logo {
  width: 9em;
  margin-top: .1em;
}

.nebTop{
  top: -1.3em;
  position: relative;
  font-family: "Neb", 'Arial', sans-serif;
  font-size: 5em;
}
.neb{
  font-family: "Neb", 'Arial', sans-serif;
}
.headline{
  font-family: 'Headline', 'Arial', sans-serif;
  font-size: 1.5em;
}
.events{
  list-style-type: none;
}
.glow{
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}
.footer{
  font-size: 10px;
}
.inline{
  display: inline;
}
.center{
  text-align: center;
}
textarea{
  color: black;
}
form {
  input, textarea, .byline{
    display: block;
    text-align: left;
  }
}
.byline{
  font-size: 1em
}
#post_body{
  color: black;
}
.video{
  width: 78%;
  height: 24em;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.admin {
  background-color: rgb(55, 55, 72);
}
.muted {
  color: $muted;
  font-family: "Neb";
}

.padBtm{
  padding-bottom: .5em;
}

.mBtm{
  margin-bottom: 3em;
}

.mTop{
  margin-top: 1em;
}
.timestamp{
  margin-bottom: 2em;
}


