@media only screen 
  and (min-width: 375px) 
  and (orientation: portrait)
  and (max-device-width : 667px)
{
  .nebTop{
    font-size: 4.5em;
  }
  .navItem{
    font-size: 2.4em;
    padding: 0;
  }
  .stars{
    height: 5em;
  }
  .nav{
    text-align: left;
  }
  .fancy{
    font-size: 1.5em;
  }
  .laser{
    margin: 10px;
  }
  .article{
    font-size: 4em;
  }
  .headline{
    font-size: 4em;
  }
  .byline{
    font-size: 3em;
  }
}
