@media (min-width: 375px) and (orientation: portrait){
  .nebTop{
    font-size: 2.8em;
  }
  .stars{
    height: 5em;
  }
  .nav{
    text-align: left;
  }
  .fancy{
    font-size: 1.5em;
  }
  .laser{
    margin: 10px;
  }
}
